*{
    background-image: url("../img/gray_jean.png");
    margin: 0;
    padding: 0;
}
.form{
    background-color: orangered;
    border: 5px solid burlywood;
    border-radius: 5px;
    width: 600px;
}