 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    background-image: url('../img/gray_jean.png');
}
.main{
    margin: 15px 25px;
    border-top: 5px solid orangered;
}
header{
background-color:rgb(224, 226, 223);
height: 100px;
display: flex;
justify-content: space-between;
padding: 10px;
align-items: center;
}
.top_right{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.righ_header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links a{
padding: 12px;
text-transform: uppercase;
text-decoration: none;
}
.links a:not(icon):hover{
    background-color: orangered;
    color: white;
    font-weight: bold;
    }
    .below_header{
        background-image:url('../img/free-nature-stock-OQfuugXSfH0-unsplash\ \(7\).jpg');
        height: 400px;
        display: flex;
        align-items: center;
    }
    .form_container{
        height: 350px;
        width: 400px;
        background-color: white;
        padding: 20px 30px;
        margin-top: 5px;
        margin-left: 20px;
    }
    .form_container >p{
        color: orangered;
        font-weight: 400;
    }
    .input_row{
        margin: 10px auto;
    }
    .input_row form{
        width: 400px;
    }
    .input_row p > select{
        width: 100%;
        padding: 8px 10px;
    }
    .input_row >label,.form_container > span.input_row p > select{
        color:gray;
        font-weight: 400;
    }
    form button{
        background-color: orangered;
        color:white;
        border:3px solid orangered;
        border-radius:5px;
        outline: 0;
        font-weight: 500;
        padding: 15px 20px;
    }
    form button:hover{
        background-color: orangered;
        cursor:pointer;
    }
    .how_it_works{
        background-color: white;
        height: 450px;
        display: flex;
        align-items: center;
        padding: 40px 50px;
    }
    .left_how_it_works{
        width: 70%;
        height: 450px;
        padding-top: 20px;
    }
    .right_how_it_works img{
        width: 100%;
    }
    .service__options p{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .service__options{
        padding-top:20px;
    }
    .left_how_it_works h2{
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 900;
        font-size: 48px;
    }
    .our__features{
        background-color: #fff;
        padding: 40px 50px;
        border-top: 2px solid #eee;
    }
    .inner__features{
        display: flex;
    }

    .column{
        width: 50%;
    }
    .features__row{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
        margin: 10px 0 10px 0;

    }
    .features__row .icon__holder{
        margin-right:10px;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        background-color: orangered;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff!important;
    }
        .feature__row .content{
            height: 80px;
        }











































    }

















































