*{ 
    margin:5px 5px;
    width: 90%;
    padding: 0;
    box-sizing: border-box; 
}
h3{
    text-align: center;
    justify-items: center;
    font-weight: 500;
    margin: 0 15%;
    font-size: 25px;
}
.form{
    background-image: url(../img/gray_jean.png);
    width: 800px;
    height: 400px;
    margin: 50px 350px;
    padding: 15px;
    box-sizing: border-box;
    border: 5px solid orangered;
    border-radius: 6px;
    align-items: center;
}
h1{
    text-align: center;
    margin: 0 15%;
    font-weight: 600;
    color: orangered;
    text-transform: capitalize;
}
p{
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: orangered;
}
button{
    border: 5px solid orangered;
    border-radius: 5px;
    padding: 0 10PX;
    width: 15%;
    cursor: pointer;
}
.can{
    width: auto;
    padding: 10px 15px;
}
.psw{
    padding:0 0 5px ;
    
    

}

input{
    color: orangered
}





